/*
    nav: #7c3ead
    body: #f3f3f3
    main-left:#16202c
    main-right: #192734
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {text-decoration: none}

img{max-width: 100%;}

html, body {
    width: 100%; 
    height: 100%;
    font-family: 'Manjari', sans-serif;
    background-color: #f3f3f3;
    color: #EEE;
    overflow: hidden;
}

.container {
    width: 1100px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

hr {
    width: 75%;
    height: 1px;
    background-color: #FFF;
    margin: 10px auto;
}

header {
    width: 100%;
    height: 5vh;
    background-color: #7c3ead;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 15px 
}

nav {width: 100%; height: 10vh;}

nav ul {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


main {
    width: 100%;
    height: 90vh;
    background-color: #16202c;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, .5);
}

.titulo {
    font-size: 32px;
    font-weight: bold;
    margin-top: 50px;
}

i {margin-right: 10px;}

.perfil {
    flex: 1 1 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.perfil .img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px dotted #AAA;
    margin-top:  50px;
}

.img img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.repositorios {
    flex: 1 1 300px;
    background-color: #192734;
    border-radius: 5px;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
}

.rep-item {
    width: 75%;
    background-color: #f3f3f3;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
}

p.titulo-card {
    font-size: 18px;
    font-weight: bold;
    color: #777;
}

p.descricao {
    font-size: 18px;
    color: #BBB;
    font-weight: 100;
}

button {
    background-color: transparent; 
    border: none; 
    color: #EEE;
    transition: all .5s ease-in-out;
}

button:hover {cursor: pointer;; color: #AAA;}

input {
    background-color: rgba(0, 0, 0, .1); 
    border: none; 
    height: 2rem; 
    border-radius: 5px;
    padding: 10px;
    color: #EEE;
}

input::placeholder {
    font-family: 'Manjari', sans-serif;
    color: #EEE;
}

